/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Niramit:500,700");

/* CUSTOM CSS */
.custom-button {
  color: white;
  background-color: #38aee0;
  border-radius: 6px;
  /* text-transform: uppercase; */
  letter-spacing: 0.2rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}

body {
  font-family: "Niramit", sans-serif;
  letter-spacing: 0.1rem;
}

.custom-form {
  margin-left: 5px;
}

.custom-trip-page {
  margin-left: 6rem;
  margin-bottom: 2rem;
  display: block;
}

.small,
small {
  display: block;
  margin-top: 2rem;
}

/* places page city filter */
.form-control {
  margin-bottom: 3rem;
}

.row {
  margin-right: -10px;
  margin-left: -22px;
}
